.container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap:1.5rem ;
    padding-top: 2.5rem ;
    padding-bottom: 2.5rem;
    padding-left: 2rem ;
    padding-right: 2rem ;
}


.container > h1 {
    color: var(--blue-color-2);
    font-size: 24px !important;
    font-weight:600
   
  }
  