.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
  }
  
  .main {
    width: 1000px;

    display: flex;
    flex-direction: row;
    border: 1px solid #cccccc;
  
    border-radius: 12px 12px 12px 12px;
    overflow: hidden; /* Prevent content from overflowing outside main */
  }
  
  .leftContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    transition: transform 0.5s ease-in-out;
  }
  
  .rightContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color-2);
    transition: transform 0.5s ease-in-out;
  }
  
  .leftSignupContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    transition: transform 0.5s ease-in-out;
  }
  
  .rightSignupContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color-2);
    transition: transform 0.5s ease-in-out;
  }
  
  .image {
    width: 80%;
    height: auto;
  }
  
  .image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .signIn,
  .signUp {
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
  .signIn h2,
  .signUp h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .signIn form,
  .signUp form {
    display: flex;
    flex-direction: column;
  }
  
  .signIn input,
  .signUp input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .signIn button,
  .signUp button {
    padding: 12px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signIn p,
  .signUp p {
    margin-top: 20px;
  }
  
  .slideIn {
    transform: translateX(0);
  }
  
  .slideOut {
    transform: translateX(100%);
  }
  
  .rightContainer.slideIn {
    transform: translateX(0);
  }
  
  .rightContainer.slideOut {
    transform: translateX(-100%);
  }
  
  .leftContainer.slideIn {
    transform: translateX(0);
  }
  
  .leftContainer.slideOut {
    transform: translateX(100%);
  }
  
  .slideInSignInLeft {
    transform: translateX(100%);
  }
  .slideOutSignInRight {
    transform: translateX(0);
  }
  
  .rightSignupContainer.slideInSignInLeft{
    transform: translateX(0);
  }
  
  .rightSignupContainer.slideOutSignInRight{
    transform: translateX(100%);
  }
  
  .leftSignupContainer.slideInSignInLeft {
    transform: translateX(0);
  }
  
  .leftSignupContainer.slideOutSignInRight{
    transform: translateX(-100%);
  }

 


.signUpTextContainer {
  display: flex;
  gap: 6px;
 

}

.signUpTextContainer >  .signUpText {
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .leftContainer,
  .leftSignupContainer {
    display: none; /* ซ่อนส่วนของรูปภาพ */
  }

  .rightContainer,
  .rightSignupContainer {
    width: 100%; /* ขยายให้เต็มจอ */
    height: 100vh; /* เต็มหน้าจอ */
    justify-content: center;
    align-items: center;
  }

  .signIn,
  .signUp {
    width: 90%; /* ปรับให้ฟอร์มกว้างขึ้น */
  }
}
